.blog .sectionTitle { 
  margin-block-end: 50px; 
}
.blogList {
  display: grid;
  gap: 30px;
}
.blogCard {
  border-radius: var(--radius-4);
  box-shadow: var(--shadow-5);
}
.blogCard .cardBanner {
  position: relative;
  border-radius: var(--radius-4);
  overflow: hidden;
}
.blogCard .cardBanner img { 
  transition: var(--transition); 
}
.blogCard:is(:hover, :focus-within) .cardBanner img { 
  transform: scale(1.1); 
}
.blogCard .cardBadge {
  background-color: var(--deep-burgundy);
  color: var(--white);
  position: absolute;
  bottom: 25px;
  left: 25px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: var(--radius-6);
}
.blogCard .cardContent { 
  padding: 30px; 
}
.blogCard .cardTitle { 
  transition: var(--transition);
  font-weight: var(--weight-700); 
}
.blogCard .cardTitle:is(:hover, :focus) { 
  color: var(--deep-burgundy); 
}
.blogCard .cardText { 
  margin-block: 15px; 
}
.blogCard .cardLink {
  position: relative;
  color: var(--deep-burgundy);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  width: max-content;
  transition: var(--transition);
}
.blogCard .cardLink::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--deep-burgundy);
  transition: var(--transition);
}
.blogCard .cardLink:is(:hover, :focus) { 
  color: var(--dark-brown-1); 
}
.blogCard .cardLink:is(:hover, :focus)::after { 
  background-color: var(--dark-brown-1); 
}

@media (min-width: 575px) {
  .blogCard .h3 { 
    --fontSize-5: 2.6rem; 
  }
}

@media (min-width: 768px) {
  .blogList { 
    grid-template-columns: 1fr 1fr; 
  }
}

@media (min-width: 992px) {
  .blogList { 
    grid-template-columns: repeat(3, 1fr); 
  }
}